@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Imperial+Script&display=swap');

:root {
  --main-font-color: #A84A4A;
  --imperial-family: 'Imperial Script', cursive;
  --cormorant-family: 'Cormorant SC', serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#header-text {
  color: #FFFFFF;
  font-family: var(--imperial-family);


}

#a {
  padding-right: 15rem;
  font-size: 5vw;


}

#b {
  padding-left: 15rem;
  font-size: 5vw;

}

#ven-header {
  color: var(--main-font-color);
  font-family: var(--imperial-family);
}

#date-time {
  color: var(--main-font-color);
  font-family: var(--cormorant-family);

}

#date {

  letter-spacing: 1vw;
}

#time {
  letter-spacing: 1.8px;
}


#venue-name {
  font-family: var(--imperial-family);
  color: var(--main-font-color);
  font-size: 6vw;

}

#venue-address {
  font-family: var(--cormorant-family);
  font-size: 2vw;
  font-weight: 400;
  color: #383838;
}

.pic
 {
  width: px;
  height: 599px;

}

#Rectangle
 {
  background:#FCC ;
  width: 1680px;
  height: 1050px;

}

#to-go
{
  font-family: var(--imperial-family);
  color: var(--main-font-color);
  font-size: 6vw;
}

#to-go-text{
  font-family: var(--cormorant-family);
  font-size: 2vw;
  font-weight: 400;
  color: #383838;
}

#header-sponsors
{
  font-family: var(--imperial-family);
  color: var(--main-font-color);
  font-size: 6vw;
}

.section-Sponsors
{
 
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;

}
.header
{
  text-align: center;
  font-family: var(--imperial-family);
  color: var(--main-font-color);
  font-size: 6vw;
}

.Sponsors-primary
{ font-family: var(--imperial-family);
  color: var(--main-font-color);
  font-size: 6vw;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.Sponsor-text
{
  font-family: var(--cormorant-family);
  font-size: 2vw;
  font-weight: 400;
  color: #383838;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
}